<!-- <nav id="mainNavbar" class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a routerLink="/home" class="navbar-brand">HOME</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="collapsed = !this.collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      id="navbarSupportedContent"
      [ngClass]="{ collapse: collapsed, 'navbar-collapse': true }"
    >
      <ul class="navbar-nav ml-auto">
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/account" class="nav-link"> Account </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/exams" class="nav-link"> Exams </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/documents" class="nav-link"> Documents </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/bs" class="nav-link" (click)="logout()"> Logout </a>
      </li>
      </ul>
    </div>
  </div>
</nav> -->
<div class="sidebar h_13">
  <!-- <div class="logo">
    <a routerLink="/home" class="simple-text logo-normal ml-2">
      Home
    </a>
  </div> -->
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li routerLinkActive="active" class="nav-item">
          <a routerLink="/exams" class="nav-link"> Exams </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/account" class="nav-link"> Account </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
          <a routerLink="/documents" class="nav-link"> Documents </a>
      </li>
    </ul>
  </div>
</div>