<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Faculty Service</a>
    </div>
</nav>
<div id="bg">
	<div id="container">
	    <div class="box">
	    <h2>Login</h2>
	        <form>
	            <div class="inputBox">
	                <input type="text" class="form-control" style="font-size: large;" [(ngModel)]="loginData.username" [ngModelOptions]="{standalone: true}">
	                <label>Username:</label>
	            </div>
	            <div class="inputBox">
	                <input id="passwordInput" type="password" class="form-control" style="font-size: large;" [(ngModel)]="loginData.password" [ngModelOptions]="{standalone: true}">
	                <label>Password:</label>
	            </div>
	            <div class="text-center">
	                <button type="button" class="btn btn-outline-secondary mt-5 ml-10" (click)="loginn()" id="loginSubmit">Log in</button>
	            </div>
	        </form>
	    </div>
	</div>
</div>